* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%*16px;
    font-family: "Montserrat", serif;
    line-height: none;
}

img {
    display: block;
}

/* HEADER */

.menu {
    box-shadow: 0px 4px 5px #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    width: 100%;
    height: 100%;
    max-height: 5rem;
    max-width: 15rem;
    margin-left: 17px;
}

.menu__nav {
    display: flex;
    font-size: 1.3rem;
    height: 5rem;
    justify-content: center;
    width: 84%;
}

.nav__element {
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0px 19px;
    padding: 10px 9px;
    text-align: center;
    text-decoration: none;
}

.nav__element:hover {
    background-color: black;
    color: white;
}

.nav__rendez-vous {
    background-color: #DAA520;
    font-weight: 700;
}

.navbar-toggle {
    align-items: center;
    margin: 0.5rem 2rem;
    width: 15%;
    height: 40%;
    display: block;
    position: relative;
}

.nav__cachée {
    background-color: rgba(13, 20, 11, 0.1);
    right: 2rem;
    font-size: 0.9rem;
    top: 105px;
    position: absolute;
    text-align: left;
    width: 300px;
    border-radius: 15px;
    display: block;
    backdrop-filter: blur(15px);
    overflow: hidden;
    height: 0;
    z-index: 10;
 }

 .nav__cachée.open {
    height: 180px;
 }

.nav__cachée__element {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.nav__cachée__element:hover {
    background-color: black;
    color: white;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav__cachée__rendez-vous {
    background-color: #DAA520;
    font-weight: 700;
}

.fa-solid {
    font-size: 2rem;
}
   


@media (min-width: 800px) {
    .navbar-toggle  {
        display: none;
    }
    .nav__cachée {
        display: none;
    }
}

@media (max-width: 799px) {
    .menu {
        height: 6rem;
    }
    .menu__nav {
        display: none;
    }
}

/* MAIN */

.articles {
    height: 100vh;
}

.articles__présentation {
    display: flex;
    margin-bottom: 100px;
    position: relative;
}

.photoowner {
    left: -200px;
    max-width: 233px;
    max-height: 231px;
    position: absolute;
    top: -22px;
}

.articles__body {
    background-color: black;
    border-radius: 10px 0px 0px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-bottom: 100px;
    margin-left: 25%;
    padding: 44px;
    position: relative;
    right: 0;
    top: 80px;
    width: 75%;
}

.présentation__titre {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 15px;
}

.présentation__soustitre {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.présentation__text {
    margin-bottom: 110px;
}

.articles__plus {
    color: white;
    text-decoration: none;
    width: 160px
}

.articles__plus:hover {
    background-color: #DAA520;
    color: black;
    text-decoration: none;
}


/*** Main__Prestations ***/
.prestations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.prestation_block {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 356px;
    box-shadow: 9px 0px 5px #DCDCDC;
    margin: 0px 16px;
}

.prestation__titre {
    font-weight: 700;
    margin: 2rem;
    text-align: center;
}

.prestation__price {
    margin: 1.2rem;
    font-weight: 700;
    font-style: italic;
}

button {
    background-color: black;
    border: none;
    color: white;
    height: 2rem;
    margin: 0.3rem;
    text-transform: uppercase;
    width: 135px;
}

button:hover {
    background-color: #DAA520;
    color: black;
}


.prestation__img {
    width: 53%;
    height: 40%;
}

/*** Main__Réservation ***/
.rdv {
    align-items: center;
    background-color: black ;
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100vw;
}

.rdv__titre {
    font-size: x-large;
    font-weight: 700;
    margin: 30px;
}

.rdv__soustitre {
    margin: 20px;
}

.postcode_button {
    background-color: #DAA520;
}

#postcode {

}


/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100vw;
    box-shadow: 0px -7px 5px #DCDCDC;
}

.basdepage {
    display: flex;
}

.basdepage li{
    padding: 10px;
}

.basdepage li a {
    color: black;
    text-decoration: none;
}