/*img {
    width: 626px;
    height: 417px;
}*/

/*.carousel1 {
    display: flex;
    margin: 10px auto;
    overflow: hidden;
    width: 626px
}*/


.change_picture {
 height: 40px;
 width: 40px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

.carousel article {
    flex: 0 0 100%;
  }

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}