* {
    box-sizing: border-box;
}

.rdv__page {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calendar {
    display: flex;
    justify-content: center;
    height: 630px;
    margin: auto;
    width: 750px;
}

.interactive__calendar {
    max-width: 600px;
    max-height: 500px;
}

.rdv__title {
    color: #DAA520;
    border-bottom: 4px solid #DAA520;
    font-size: 30px;
    font-family: Big Caslon;
    margin-bottom: 40px;
    padding-bottom: 30px;
    text-align: center;
}

