</main>
<footer class="footer">
    <ul class="basdepage">
        <li>
            <a href="">Mentions légales</a>
        </li>
        <li>
            <a href="./Pages/Contact.html">Contact</a>
        </li>
    </ul>
</footer>
<script src="./JS/Hidden_nav.js"></script>
</body>
</html>